<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VpnCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VpnCard.Properties.Settings>
            <setting name="A" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>6475</string>
                        <string>8170</string>
                        <string>1770</string>
                        <string>8559</string>
                        <string>9388</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="B" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>8626</string>
                        <string>6647</string>
                        <string>7480</string>
                        <string>9220</string>
                        <string>9232</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="C" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>5683</string>
                        <string>6445</string>
                        <string>1538</string>
                        <string>3558</string>
                        <string>4690</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="D" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>3126</string>
                        <string>8289</string>
                        <string>8253</string>
                        <string>7746</string>
                        <string>0679</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="E" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>7067</string>
                        <string>0946</string>
                        <string>9662</string>
                        <string>3631</string>
                        <string>9034</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="F" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1775</string>
                        <string>5569</string>
                        <string>4719</string>
                        <string>3685</string>
                        <string>0014</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="G" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>5220</string>
                        <string>1506</string>
                        <string>2704</string>
                        <string>6344</string>
                        <string>0264</string>
                    </ArrayOfString>
                </value>
            </setting>
        </VpnCard.Properties.Settings>
    </userSettings>
</configuration>